<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PDF Tool</title>
	<link rel="stylesheet" href="../static/styles/main.css" />
	<script src="../static/lib/Sortable.js"></script>
	<script src="../static/lib/htmx.min.js"></script>
</head>
<body class="m-0 p-0 overflow-hidden">


	<!-- wrapper div -->
	<div class="flex flex-col h-screen w-screen  bg-primary text-primary">
			<header class="p-3 flex-shrink-0  border-b border-primary  ">
				<nav class="text-center text-m font-semibold container mx-auto">

					<!-- nav wrapper -->
					<div class="flex flex-row space-x-3 justify-between">
						<div>
							PDF Tool
						</div>
						<!-- toolbox -->
						<div class="flex flex-row space-x-3">

							<!-- theme switcher dropdown -->
							<div class="px-2">
											</ul>
								<label for="theme-dropdown">Theme</label>
								<select id="theme-dropdown" name="theme-dropdown" class="bg-primary text-primary">
									<option value="theme-light">light</option>
									<option value="theme-dark">dark</option>
								</select>
							</div>
							
						<!-- sample column tracking -->
							<!-- <div id="column-Urm677JHcewK8DS" -->
							<!-- 	class='min-w-[15%] flex flex-col h-full  border-1 border-dotted hover:border-2 border-hover rounded-tl-2xl rounded-tr-2xl space-y-3 text-center' -->
							<!-- 	data-id="Urm677JHcewK8DS" -->
							<!-- 	data-file-count="1" -->
							<!-- > -->
							    <!-- file tracking -->
							<!-- 		<div -->
							<!-- 			id="files-LFRVq1B8yP2F2QA" -->
							<!-- 			class="bg-primary p-1 rounded-t-2xl" -->
							<!-- 			data-id="LFRVq1B8yP2F2QA" -->
							<!-- 			data-filename="WemFyYixvDFSsMr_sample1.pdf" -->
							<!-- 			data-author="" -->
							<!-- 			data-creation-date="" -->
							<!-- 			data-creator="Adobe InDesign 15.1 (Macintosh)" -->
							<!-- 			data-modification-date="D:20201014170810+02'00'" -->
							<!-- 			data-page-count="1" -->
							<!-- 			data-page-size="595.28 x 841.89 points" -->
							<!-- 			data-producer="Adobe PDF Library 15.0" -->
							<!-- 			data-subject="" -->
							<!-- 			data-title="" -->
							<!-- 			data-version="1.7" -->
							<!--     > -->
							<!---->
							<!-- 			<div> -->
							<!-- 				file-info-base -->
							<!-- 			</div> -->
										<!-- file holder -->
							<!-- 			<div id="pageHolder-1" class="m-2 space-y-3 overflow-y-auto"> -->
									    <!-- pages tracking -->
							<!-- 				<div  -->
							<!-- 					id="page-6AuXY4DFZxPkzE5" -->
							<!-- 					class="border-1 border-primary rounded-xl flex flex-row justify-center overflow-hidden" -->
							<!-- 					data-page-number="1" -->
							<!-- 					data-flip="0" -->
							<!-- 					data-id="gCbxFfCBLrb5fc1" -->
							<!-- 					data-page-orientation="portrait" -->
							<!-- 					data-preview-path="artifacts/uovRxcpIWZtHxN0/previews/gCbxFfCBLrb5fc1.png" -->
							<!-- 					data-rotate="0" -->
							<!-- 					data-status="show" -->
							<!---->
							<!-- 				> -->
							<!-- 					<img src="artifacts/uovRxcpIWZtHxN0/previews/gCbxFfCBLrb5fc1.png" alt="preview page 1" class="max-h-75 object-contain"> -->
							<!-- 				</div> -->
							<!-- 			</div> -->
							<!-- 		</div> --
							<!-- </div> -->
						</div>
					</div>
				</nav>
			</header>

			<main id="layout-holder"   class="flex-1 flex overflow-hidden">

				<!-- left section in layout -->
				<div id="layout-prevew" class="w-[25%] overflow-auto flex-shrink-0 scrolling-modefy">
						<!-- Right panel section -->
						<div class="bg-primary  flex flex-row justify-center  w-full h-full rounded-tl-l border-primary border-t border-l">


							<div class="flex flex-col  h-full pt-3 space-y-2">


								<!-- file upload -->
								<div class="w-full bg-primary pl-4 pr-4 rounded-md border-primary">

									<h2 class="text-3xl pl-3 pt-3 mb-3 font-medium text-primary">File Upload</h2>

										<div class="flex flex-row justify-center w-full ">

												<form
													hx-post="/upload" 
													hx-target="#uploadStatus" 
													hx-swap="beforeend"
													enctype="multipart/form-data" 
													method="post"
													class="space-y-4 w-full h-full"
												>

												<label for="pdfs" class="flex flex-col items-center justify-center  w-full pt-4 pb-4 bg-secondary rounded-md border-primary border-1 hover:border-2 border-dashed text-center ">
														<img src="../static/icons/upload.svg" alt="document icons" class="w-10 h-10">
														<p class="mt-4 text-xl font-semibold text-secondary"><span>Click to upload or</span> <span>drag and drop</span></p>
														<p class="text-sm text-tertiary">Only PDF files are processed</p>

														<div id="fileListContainer" class="space-y-2">
																<ol id="fileList" class="text-sm text-primary list-decimal "></ol>
														</div>

														<input id="pdfs" name="pdfs" type="file" multiple accept=".pdf" onchange="showFiles()" class="hidden">
												</label>

						
				</div>

				<!-- middle section in layout -->
				<div id="layout-board" class="w-[50%] h-full" >
					<div class=" bg-secondary w-full h-full overflow-auto  scrolling-modefy">
						<div id="columnHolder" class=" flex flex-row w-full pl-4 pt-4 space-y-2 space-x-4 ">
							cards 
						</div>
					</div>
				<div>


				<!-- right section in layout -->
				<div id="layout-manager" class="w-[25%] overflow-auto flex-shrink-0 scrolling-modefy">
							 

				<div>
					
					
			</main>


			<!-- dynamic copyright year  -->
			<footer class="text-right text-sm py-2 px-2 flex-shrink-0" >
					All rights reserved. &copy; <script>document.write(new Date().getFullYear())</script>
			</footer>
	</div>
	<script src="../static/utils/main.js"></script>
</body>
</html>
