<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../static/styles/main.css" />
	<!-- <link rel="stylesheet" href="../static/styles/theme.css" /> -->
	<script src="../static/lib/Sortable.js"></script>
	<script src="../static/utils/main.js"></script>
</head>
<body>
		
	<div class="bg-primary text-primary h-screen w-screen text-2xl flex flex-col">
		<header>
			<nav class="flex flex-row justify-between text-sm">
				<div></div>
				<div>
					PDF Tool
				</div>
				<div>
					<select id="theme-dropdown" class="bg-primary text-primary">
						<option value="theme-light">light</option>
						<option value="theme-dark">dark</option>
					</select>
				</div>
			</nav>
		</header>

		<!-- let main grow with flex-1 -->
		<main class="flex-1 h-full">
				<div class="flex w-full h-full">
					<div class="w-[25%]">
						preview
					</div>

					<!-- middle canvas -->
					<div id="columnHolder" class="flex flex-row space-x-5 pt-5 pl-5 h-full w-[50%] bg-secondary rounded-tl-2xl border-primary border-t border-l overflow-y-hidden overflow-x-auto scrollbar">
						<!-- data comes here -->
						<div id="col-1" class='w-[25%]  flex flex-col h-full space-y-2 hover:border-2 border-hover rounded-tl-2xl rounded-tr-2xl'>


							<!-- slot item -->
							<!-- <div class="flex flex-col items-center justify-center border-1 bg-primary border-pink-300 rounded-xl "> -->
								<!-- handler -->
							<!-- 	<div class=" bg-accent-primary accent-primary hover:bg-blue-600 mt-4 mb-2 rounded-full w-[35%] h-8" ></div> -->
							<!-- 		<div class="flex flex-row w-full h-full justify-center" > -->
							<!---->
										<!-- file info  -->
							<!-- 			<div class="flex-1 max-w-[170px]"> -->
							<!-- 				<h1 class="text-lg text-primary font-semibold truncate"> -->
							<!-- 					test-page.pdf -->
							<!-- 				</h1> -->
							<!-- 				<p class="text-sm text-secondary truncate"> -->
							<!-- 					pages 2 • Size 120kb -->
							<!-- 				</p> -->
							<!-- 			</div> -->
							<!---->
										<!-- option menu -->
							<!-- 			<div class=" rounded-l flex flex-col justify-center" > -->
							<!-- 				<svg xmlns="http://www.w3.org/2000/svg"  -->
							<!-- 					 class="w-8 h-8" viewBox="0 0 24 24" fill="currentColor"> -->
							<!-- 					<path d="M12 6.75a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm0 6a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm0 6a1.5 1.5 0 110-3 1.5 1.5 0 010 3z"/> -->
							<!-- 				</svg> -->
							<!-- 			</div> -->
							<!-- 		</div> -->
							<!-- 	<div id="slot-skOPwwC4USfLifff" class="bg-primary w-full h-full"> -->
							<!-- 		<div> -->
							<!-- 			fo -->
							<!-- 		</div> -->
							<!-- 	</div> -->
							<!-- </div> -->
							<!---->


							<div id="slot-skOPwwC4USfLiJN" class="bg-primary rounded-xl w-full h-full">
								<div class="slothandle">
									PDF1-page1
								</div>
								<div>
									PDF1-page2
								</div>
								<div>
									PDF1-page3
								</div>
							</div>

							<!-- merge div -->

							<div id="slot-skOPwwC4USfLiJN" class="bg-primary rounded-xl w-full h-full">
								<div>
									PDF2-page1
								</div>
								<div>
									PDF2-page2
								</div>
							</div>

							<div id="slot-skOPwwC4USfLiJN" class="bg-primary rounded-xl w-full h-full">
								PDF3-page1	
							</div>
						</div>

						<div id="col-1" class='w-[25%]  flex flex-col space-y-2 hover:border-2 border-hover rounded-tl-2xl rounded-tr-2xl'>

						</div>

						<div id="col-1" class='w-[25%]  flex flex-col space-y-2 hover:border-2 border-hover rounded-tl-2xl rounded-tr-2xl'>

						</div>



					</div>
					<div class="w-[25%] bg-secondary border-t border-primary">
						<div class="bg-primary flex flex-row justify-center h-full w-full rounded-tl-l border-primary border-t border-l">
							<div class="flex flex-col justify-center h-full w-full ml-[15%] mr-[15%]">
								<h1 class="text-2xl font-semibold">Upload PDF files</h1>

								<form action="/upload" method="post" enctype="multipart/form-data" class="space-y-4">

										<label for="pdfs" class="flex flex-col items-center justify-center w-full h-50 border-2 border-dashed border-blue-400 rounded-xl cursor-pointer bg-secondary hover:bg-blue-100 transition-colors">
												<img src="../static/icons/upload.svg" alt="document icons" class="w-10 h-10">
												<p class="mt-4 text-xl font-semibold text-secondary">Click to upload or drag and drop</p>
												<p class="text-sm text-tertiary">Only PDF files are processed</p>
												<input id="pdfs" name="pdfs" type="file" multiple accept=".pdf" onchange="showFiles()" class="hidden">
										</label>


										<div id="fileListContainer" class="space-y-2">
												<ol id="fileList" class="text-sm text-primary"></ol>
										</div>

										<button type="submit" class="w-full  rounded-lg text-gray-50 button-primary button-primary-hover font-semibold py-3 transition-colors shadow-md">
												Upload Files
										</button>

								</form>
							</div>

							
						</div>
					</div>
				</div>
		</main>

	<script>
	 function showFiles() {
		 const input = document.getElementById("pdfs");
		 const list = document.getElementById("fileList");
		 list.innerHTML = "";
		 for (let file of input.files) {
						 let li = document.createElement("li");
						 li.textContent = file.name;
						 list.appendChild(li);
		 }
	 }
	</script>

	<script>
    const list = document.getElementById('items');
    const output = document.getElementById('orderOutput');

    function updateOrder() {
      const order = Array.from(list.children).map(li => li.dataset.id);
      output.textContent = "Current order: " + JSON.stringify(order);
    }

    new Sortable(list, {
      animation: 150,
      ghostClass: 'bg-blue-100',
      onEnd: updateOrder
    });

    // initialize
    updateOrder();
  </script>

		<script>
				function initSortables() {
					document.querySelectorAll('[id^="col-"]').forEach(element => {
						new Sortable(element, {
							filter: '.filtered',
							group: 'column',
							animation: 150,
							swapThreshold: 0.65,
							ghostClass: 'opacity-50',
						});
					});

					document.querySelectorAll('[id^="slot-"]').forEach(element => {
						new Sortable(element, {
							group: 'slot',
							filter: 'slothandle',
							animation: 150,
							swapThreshold: 0.65,
							ghostClass: 'opacity-40',
							multiDrag: true,
							selectedClass: "selected"

							// scroll: true,
							// forceAutoScrollFallback: false,
							// scrollFn: function(offsetX, offsetY, originalEvent, touchEvt, hoverTargetEl) { ... },
							// scrollSensitivity: 30,
							// scrollSpeed: 10,
							// bubbleScroll: true

						});
					});
				}

				initSortables();
		</script>

			<script>
				function cleanColumn(columnId) {
					const col = document.getElementById(columnId);
					if (!col) return;

					const cols = Array.from(holder.querySelectorAll("[id^='col-']"));
					cols.forEach((col, index) => {
						const isLast = index === cols.length - 1;
						const isEmpty =
							col.children.length === 0 && col.innerText.trim() === "";

						if (isEmpty && !isLast) {
							col.remove();
						}
					});

				const updatedChildren = Array.from(col.children);
				const last = updatedChildren[updatedChildren.length - 1];

				if (!last || last.children.length > 0 || last.innerText.trim() !== "") {
						const emptyDiv = document.createElement("div");
						emptyDiv.className = "w-[25%] bg-gray-400  flex flex-col space-y-2 hover:border-2 border-hover rounded-tl-2xl rounded-tr-2xl";
						emptyDiv.id="col-empty"
						col.appendChild(emptyDiv);
				}
				}

				function mergeSections() {
					const mergeDiv = event.currentTarget.parentElement;
					const prevSlot = mergeDiv.previousElementSibling;
					const nextSlot = mergeDiv.nextElementSibling;
					if (!prevSlot?.id.startsWith("slot-") || !nextSlot?.id.startsWith("slot-")) return;
						prevSlot.innerHTML += nextSlot.innerHTML;
						nextSlot.remove();
						mergeDiv.remove();
				}

				function updateMergeDivs() {
					observer.disconnect();

					document.querySelectorAll("[id^='col-']").forEach(col => {
						cleanColumn(col);

						col.querySelectorAll(".filtered").forEach(el => el.remove());

						const slots = Array.from(col.querySelectorAll("[id^='slot-']"));
						if (slots.length < 2) return;

						for (let i = 0; i < slots.length - 1; i++) {
							const mergeDiv = document.createElement("div");
							mergeDiv.className = "filtered flex items-center justify-between px-2 py-1";
							mergeDiv.id = "optionMenu";
							mergeDiv.style.transition = "opacity 0.3s";

            mergeDiv.innerHTML = `
							<button 
								class="px-3 py-1 rounded-lg text-gray-50 button-primary button-primary-hover"
								onclick="mergeSections()">
								Merge
							</button>
							<button 
								class="px-3 py-1 rounded-lg bg-gray-300 text-primary hover:bg-gray-400"
								onclick="this.parentElement.style.display='none'">
								Dismiss
							</button>
            `;
            // slots[i].insertAdjacentElement("afterend", mergeDiv);
						slots[i].parentElement.insertBefore(mergeDiv, slots[i].nextSibling);

						}
					});
				observeColumns();
			}

			function observeColumns() {
				document.querySelectorAll("[id^='col-']").forEach(col => {
						observer.observe(col, { childList: true });
				});
			}

			const observer = new MutationObserver(updateMergeDivs);
			updateMergeDivs();

			</script>


		<footer class="flex flex-row justify-end">
			<p class="bg-primary text-secondary text-xs pr-1">
				All rights reserved. &copy; 2025
			</p>
		</footer>
	</div>

	<script>
		const evtSource = new EventSource("http://localhost:8080/events");
		const updatesDiv = document.getElementById("columnHolder");

		evtSource.onmessage = function(event) {
      updatesDiv.insertAdjacentHTML("beforeend", event.data);
    };

    evtSource.onerror = function() {
      updatesDiv.insertAdjacentHTML("beforeend", "<p style='color:red;'>Connection lost...</p>");
    };
  </script>
</body>
</html>
